<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sensor service</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
      <hr>
    </h1>
  </div>
  <div class="row">
    <div class="col-6">
      <app-sensor-list></app-sensor-list>
    </div>
    <div class="col-6">
      <h3>Add new record</h3>
      <app-record-form></app-record-form>
    </div>
  </div>
</div>



