<form [formGroup]="record" (ngSubmit)="onSubmit()">



  <div>
    <hr>
    <h4>Latitude</h4>
    <div class="form-row align-items-center" formGroupName="latitude">
      <div class="col-4">
        <label for="degrees">Degrees</label>
        <div class="input-group" id="inlineFormInputName">
          <input type="number" class="form-control" id="degrees" placeholder="[-90; 90]" formControlName="degrees">
          <div class="input-group-append">
            <div class="input-group-text">°</div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <label for="minutes">Minutes</label>
        <div class="input-group">
        <input type="number" class="form-control" id="minutes" placeholder="[0; 60]" formControlName="minutes">
        <div class="input-group-append">
          <div class="input-group-text">′</div>
        </div>
      </div>
      </div>
      <div class="col-3">
        <label for="seconds">Seconds</label>
        <div class="input-group">
          <input type="number" class="form-control" id="seconds" placeholder="[0; 60]" formControlName="seconds">
          <div class="input-group-append">
            <div class="input-group-text">″</div>
          </div>
        </div>
      </div>
      <div class="col-2">
          <label for="exampleFormControlSelect1">Direction</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="direction">
            <option *ngFor="let option of latitudeDirections" [value]="option" >{{option}}</option>
          </select>
      </div>
    </div>

    <hr>
    <h4 style="margin-top: 20px">Longitude</h4>
    <div class="form-row align-items-center" formGroupName="longitude">
      <div class="col-4">
        <label for="lngDegrees">Degrees</label>
        <div class="input-group" id="longitudeInput">
          <input type="number" class="form-control" id="lngDegrees" placeholder="[-180; 180]" formControlName="degrees">
          <div class="input-group-append">
            <div class="input-group-text">°</div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <label for="lngMinutes">Minutes</label>
        <div class="input-group">
          <input type="number" class="form-control" id="lngMinutes" placeholder="[0; 60]" formControlName="minutes">
          <div class="input-group-append">
            <div class="input-group-text">′</div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <label for="lngSeconds">Seconds</label>
        <div class="input-group">
          <input type="number" class="form-control" id="lngSeconds" placeholder="[0; 60]" formControlName="seconds">
          <div class="input-group-append">
            <div class="input-group-text">″</div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <label for="direction">Direction</label>
        <select class="form-control" id="direction" formControlName="direction">
          <option *ngFor="let option of longitudeDirections" [value]="option" >{{option}}</option>
        </select>
      </div>
    </div>

    <hr>
    <h4 style="margin-top: 20px">Temperature</h4>
    <div class="form-row align-items-center">
      <div class="col-10">
        <div class="input-group">
          <input type="number" class="form-control" id="temp" placeholder="[-100; 100]" formControlName="temperature">
          <div class="input-group-append">
            <div class="input-group-text">°C</div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" type="submit" [disabled]="!record.valid">Submit</button>
      </div>
    </div>
    </div>

</form>
